@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
#myId {
  width: 100vw;
  height: 100vh;
}

.App {
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.carousel-container {
  margin: 20px;
}

.selected-image {
  width: 100%;
  height: 500px;
  margin-bottom: 8px;
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.carousel {
  position: relative;
}

.carousel__images {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
}

.carousel__image-selected {
  border: 3px solid #ffa700 !important;
}

.carousel__image {
  margin-right: 10px;
  height: 150px;
  min-width: 150px;
  border: 3px solid #ffa70000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__button {
  position: absolute;
  top: 40%;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  font-weight: bold;
}

.carousel__button-left {
  left: 10px;
}

.carousel__button-right {
  right: 10px;
}
img,
video {
  max-width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
.slick-next:before {
  content:"";
  height: 1.5 rem;
  width: 1.5rem;
  display: block;
  color: #2a9fd8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232a9fd8' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
	
}
.slick-next {
  right: -12px;
}
.slick-prev:before {
  content:"";
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  color: #2a9fd8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232a9fd8' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.slick-prev {
  left: -15;
}
@media screen and (min-width:768px){
  .slick-prev {
    left:-37px;
  }
  .slick-next:before {
    height: 2rem;
    width: 2rem;
  }
  .slick-prev:before {
    height: 2rem;
    width: 2rem;
  }
}
